.home {
  display: flex;
  padding: 10px;
  padding-top: 90px;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  /* overflow-y: overlay; */
}

/* .home::-webkit-scrollbar {
  display: none;
}

.home__feed::-webkit-scrollbar {
  display: none;
} */

.home__feed {
  flex: 0.4;
}

.home__feed > hr {
  width: 95%;
  margin: auto;
  border: none;
  height: 1px;
  background-color: lightgray;
}

.home__feedFilters {
  height: 20%;
  background-color: yellow;
}

.home__feedListings {
  padding-top: 10px;
  height: 80%;
  overflow-y: auto;
}

.home__map {
  border: 1px black solid;
  /* width: 100%; */
  flex: 0.6;
}
