.home {
  display: flex;
  padding: 10px;
  padding-top: 90px;
  width: 100vw;
  max-width: 100%;
}

.home__feed {
  width: 50%;
}

.home__feed > hr {
  width: 95%;
  margin: auto;
  border: none;
  height: 1px;
  background-color: lightgray;
}

.home__feedFilters {
  height: 20%;
  background-color: yellow;
}

.home__feedListings {
  padding-top: 10px;
  height: 80%;
}

.home__map {
  width: 50%;
}
